*
!docs/
!docs/*
!docs/01_Examples/*
!docs/01_Examples/
!docs/02_Items/*
!docs/02_Items/
!docs/03_Machines/*
!docs/03_Machines/
!docs/04_Developement/*
!docs/04_Developement/
!docs/05_More_Examples/*
!docs/05_More_Examples/
!img/blocks/*
!img/blocks/
!img/recipes/*
!img/recipes/
!img/*
!img/
!.gitignore
.htaccess